html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  margin: auto;
  height: 50%;
  width: 50%;
}

h1.header {
  margin: auto;
  font-family: sans-serif;
  text-align: center;
  color: blue;
  padding: 3% ;
}
