<div class="main">
  <p class="credentials signup">Sign Up</p>
<div class="forms">
  <form action="/signup" method="post">
    <input type="text" name="username">
    <br/>
    <input type="password" name="password">
    <br/>
    <input class="button" type="submit" value="Sign Up!">
  </form>
</div>

<div class="error"><%= @error %></div>
<p class="credentials">Log In</p>
<div class="forms">
  <form action="/login" method="post">
    <input type="text" name="username">
    <br/>
    <input type="password" name="password">
    <br/>
    <input class="button" type="submit" value="Login">
  </form>
</div>
<h1 class="header">Polr</h1>
</div>

