<form id="sign-out" action="/sessions/<%= current_user.id %>" method="post">
  <input name="_method" type="hidden" value="delete"/>
  <input type="submit" value="Sign Out">
</form>

<div id="map-canvas"></div>
