<form id="sign-out" action="/sessions/<%= current_user.id %>" method="post">
  <input name="_method" type="hidden" value="delete"/>
  <input type="submit" value="Sign Out">
</form>
<div class="addresses">
<input id="origin" type="text" name="origin" placeholder="Origin">
<input id="destination" type="text" name="destination" placeholder="Destination">
<button class="route" type="button">Route</button>
</div>
<div id="map-canvas"></div>
<div id="elevation_chart"></div>
<div id="directionsPanel"></div>
